<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for using our job posting board</h1>
    <p>
      You have successfully submitted your job post.<br>
    </p>
    <p>
      To view your job post, just follow this <%= link_to 'link', job_post_url(@job_post) %>.
    </p>
    <p>Thanks for using our website!</p>
  </body>
</html>
