
<%= simple_form_for(@admin, :html => { :class => 'form-horizontal' }, url: 'create') do |f| %>
  <%= f.input :email, input_html: { class: 'form-control' } %>
  <%= f.input :password, input_html: { class: 'form-control' } %>
  <div class="form-group">
    <div>
        <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
</div>
<% end %>
