<% @categories.each do |category| %>
  <%= link_to category.name, url_for(params.merge(:category => category.id)) %>
<% end %>
<br>
<% @job_types.each do |job_type| %>
  <%= link_to job_type.name, url_for(params.merge(:job_type => job_type.id)) %>
<% end %>

<div class="list-group">
    <% @job_posts.each do |job_post| %>
        <%= link_to job_post, :class => 'list-group-item' do %>
            <h2 class="list-group-item-heading"><%= job_post.title %></h2>
            <p class="list-group-item-text">Example of additional info</p>
        <% end %>
    <% end %>
</div>
