<footer>
    <div class="container">
        <div class="row">
            <p>© <%= Time.now.year %> <%= link_to("Ladies Learning Code", "http://ladieslearningcode.com/") %></p>
        </div>
    </div>
</footer>
